#contact-left{
	text-align:left;
}
#contact-right{
}
#contact-left h1{
	color:#DEC024;
	
	width:100%;
	display:block;
	margin:0px;
	font-size:3em;
    font-family: 'Lato';
    font-weight:800;
    padding:0px;
}
#contact-left h3{
	color:white;
	font-size:30px;
}
#contact-social-media{
	padding-top:20px;
	padding-right:20px;
}
#contact-social-media .col-md-6 img{
	width:100%;
}
#contact-facebook{
	margin-right:20px;
	margin-bottom:20px;
}
#contact-instagram{
	margin-right:-20px;
	margin-bottom:20px;
}
#contact-youtube{
	margin-right:20px;
}
#contact-twitter{
	margin-right:-20px;
}
