
@media (max-width: 991px) {
}
@media (min-width: 992px) {
		
	.food-blog-container{
		padding-right:10px;
	}
	.food-blog-right-bottom-box{
		padding-right:10px;
	}
	.food-blog-right-bottom-box1{
		
		margin-right:10px;
	}
	.food-blog-right-bottom-box2{
		margin-right:-10px;
	}
}
#food-blog-left{
	border: 3px solid white;
	padding:0px;
	margin-right:10px;
}
#food-blog-left-img{
	border-bottom:3px solid white;
	width:100%;
}
.food-blog-text-box{
	padding:10px;
	padding-top:0px;
}
.food-blog-title{
	margin-top:10px;
	color:yellow;
	margin-bottom:0px;
}
.food-blog-description-box{
	margin-top:0px;
	max-height:350px;
	overflow: hidden;
}
.food-blog-description-box p{
	color:white;
	text-overflow:ellipsis;
	display: block;
	font-size:larger;
	
}
.food-blog-read-more-box
{
	text-align:right;
	width:100%;	
}
.food-blog-read-more-text{
	color:white;
	margin-right:10px;
	margin-top:0px;
}
#food-blog-right{
}
#food-blog-right-top{
	border:3px solid white;
	height:500px;
}
#food-blog-right-top-img{
	width:100%;
	max-height:300px;
	border-bottom: 3px solid white;
}
#food-blog-description-right-box{
	max-height:140px;
	overflow: hidden;
}
#food-blog-description-right-box p{
	color:white;
	text-overflow:ellipsis;
	display: block;
	font-size:larger;
}
.food-blog-right-bottom-box1{
	height:300px;
	border: 3px solid white;
	margin-top:20px;
	padding:15px !important;
}
.food-blog-right-bottom-box2{
	height:300px;
	border: 3px solid white;
	margin-top:20px;
	padding:15px !important;
}

//---------------------------------------------------ACTUAL FOOD-BLOG SHIZ

