div, .row{
	
    -webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
    -moz-box-sizing: border-box;    /* Firefox, other Gecko */
    box-sizing: border-box;         /* Opera/IE 8+ */
}
html{
	height:100%;
}
a,p,li,b, h1,h2,h3,h4,h5,h6{
	font-family: 'Lato', sans-serif;
}
body{
	height:100%;
	position:relative;
}
.container-fluid{
	height:100%;
	padding:0px !important;
}
.row{
	margin:0px !important;
}
#leftFrame, #rightFrame{
	padding:0px;
	background-color:white;
	height:100%;
	text-align:center;
}
#fixedMenuBar{
	position:fixed;
	width:inherit;
	height:100%;

	background-color:white;
}
#mtsa-logo{
	position: fixed;
	top:0;
	left:0;
	width:inherit;
	padding:15px;
}
#menu-holder{
	width:inherit;
	position:fixed;
	bottom:0;
	
}
#menuAffix{
	display:inline-block;
	padding:0px;
	text-align:left;
	list-style-type: none;
}
.nav li.active a h3{
	color:black;
}
.nav li.active a h3{
	color:#DEC024;
    font-family:"Lato";
	font-weight: 900;
    font-size:18pt;
}
/*
.nav li.active a h3:before{
	margin-left:-15px;
	margin-right:5px;
	content:"";
	display:inline-block;
	height:20px;
	width:10px;
	background-color: black;
}
.nav li:hover a h3:before{
	margin-left:-15px;
	margin-right:5px;
	content:"";
	display:inline-block;
	width:10px;
	height:20px;
	background-color: black;
}*/

.nav li, .nav li a{
	padding:0px;
	
}
.nav li a h3{
	color:black;
    font-family:"Lato";
    font-weight:600;
    font-size:18pt;
    padding-top:0px !important;
    padding-bottom:0px !important;
    margin:0px;
}
.mainframe{
	padding:0px;
	text-align:center;
  	position: relative;
}
.align-left{
	text-align:left;
	padding:0px;
}

.big-white-h1{
	width:100%;
	display:block;
	color:white;
	margin:0px;
	font-size:60pt;
	color:white;
    font-family: 'Lato';
    font-weight:800;
    padding:0px;
}

#myCarousel{
	display:block;
	border: 3px solid white;
	width:100%;
}

.events-box-container{
	width:100%;
	padding-right:10px;
	padding-bottom:60px;
}
.events-box{
	border: 3px solid white;
	height:350px;
	margin-top:15px;
	margin-right:10px;
	}

#bg{
	position:fixed;
	top:0;
	left:0;
	width:100%;
	z-index: -5000;
}

.col-xs-1, .col-sm-1, .col-md-1, .col-lg-1, .col-xs-2, .col-sm-2, .col-md-2, .col-lg-2, .col-xs-3, .col-sm-3, .col-md-3, .col-lg-3, .col-xs-4, .col-sm-4, .col-md-4, .col-lg-4, .col-xs-5, .col-sm-5, .col-md-5, .col-lg-5, .col-xs-6, .col-sm-6, .col-md-6, .col-lg-6, .col-xs-7, .col-sm-7, .col-md-7, .col-lg-7, .col-xs-8, .col-sm-8, .col-md-8, .col-lg-8, .col-xs-9, .col-sm-9, .col-md-9, .col-lg-9, .col-xs-10, .col-sm-10, .col-md-10, .col-lg-10, .col-xs-11, .col-sm-11, .col-md-11, .col-lg-11, .col-xs-12, .col-sm-12, .col-md-12, .col-lg-12 {
	padding-left:0px !important;
	padding-right:0px !important;
}