.house-main{
	padding-right: 10px;
}
#house-photo{
	border: 3px solid white;
	height:400px;
	margin-right: 10px;
}
#house-intro{
	border:3px solid white;
	height:400px;
	margin-right:-10px;
}
.house-col{
	padding:5px !important;
}
.house-logo{
	width:100%;
}
.house-description{
	border:3px solid white;
	height:300px;
	padding:3px;
	background-color:rgba(0, 0, 0, 0.5);
}
.house-col-bottom{
	border:3px solid white;
	border-top:none;
	text-align:center;
	line-height:30px;
}
.house-col-bottom p{
	display:block;
	margin-top:auto;
	margin-bottom:auto;
	color:white;
	font-size:larger;
}
.house-name{
	color:yellow;
	margin:0px;
	margin-top:5px;
}
.house-description p{
	color:white;
	overflow:
}
